<ul>
  <li class="text" *ngFor="let item of user | async">
    {{item.$value}}
  </li>
</ul>

<!-- <form class="form-signin"">
<input #message type="textarea" id="message" class="form-control" placeholder="Message" required="">
<button  class="btn btn-md btn-primary btn-block" type="submit">Send message</button>
</form> -->

<button (click)="authIT($event)">Start the magic</button>

<button (click)="logTheHellOut($event)">Log the hell out</button>

<button (click)="authAPIHit($event)">Auth the API</button>

<button (click)="createNewUserHit($event)">Create a user on the backend</button>

<button (click)="signInEmailPassHit($event)">Sign in using email and pass</button>